:root {
    --card-color: #ffffff;
    --bg-color: #fafafa;
    --primary-color: #076666;
    --secondary-color: #238F8F;
    --light-color: #E7F9FF;
    --dark-color: #0E0E0E;
    --gradient: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    --horizontal-gradient: linear-gradient(to left, var(--secondary-color), var(--primary-color));
}